<div
  style="
    display: grid;
    flex-grow: 1;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  "
>

  <event-tab-chart-component
    [title]='"Number of deduplicated tabs"'
    [desiredEvent]='trackedEvent.TabDeduplicated'
    [dateRange]="dateRange"
    [data]="data"
    (dataRangeOutput)='setDataRange($event)'
  ></event-tab-chart-component>

  <diff-tab-chart-component
    [dateRange]="dateRange"
    [data]="data"
    (dataRangeOutput)='setDataRange($event)'
  ></diff-tab-chart-component>

  <open-close-tab-chart-component
    [dateRange]="dateRange"
    [data]="data"
    (dataRangeOutput)='setDataRange($event)'
  ></open-close-tab-chart-component>

  <total-tab-chart-component
    [dateRange]="dateRange"
    [data]="data"
    (dataRangeOutput)='setDataRange($event)'
  ></total-tab-chart-component>
</div>
