<div
  style="
    display: grid;
    flex-grow: 1;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  "
>
  <!--    <CustomChart data={dataForPeriod} operationFunction={openClosed} />-->
  <!--    {/*<CustomChart data={dataForPeriod} operationFunction={diff} />*/}-->
  <!--    <DiffTabChart groupByDate={dataForPeriod} />-->
  <!---->
  <!--    <CustomChart data={dataForPeriod} operationFunction={sumSum} />-->
  <!--    {/*<CustomChart data={dataForPeriod} operationFunction={tabs} />*/}-->

<!--  <total-tab-chart-component-->
<!--    [dateRange]="dateRange"-->
<!--    [data]="data"-->
<!--    (dataRange)="setDataRange($event)"-->
<!--  ></total-tab-chart-component>-->
<!--  <total-tab-chart-component-->
<!--    [dateRange]="dateRange"-->
<!--    [data]="data"-->
<!--  ></total-tab-chart-component>-->

  <event-tab-chart-component
    [title]='"Deduplicated tabs"'
    [desiredEvent]='trackedEvent.TabDeduplicated'
    [dateRange]="dateRange"
    [data]="data"
    (dataRangeOutput)='setDataRange($event)'
  ></event-tab-chart-component>

  <diff-tab-chart-component
    [dateRange]="dateRange"
    [data]="data"
    (dataRangeOutput)='setDataRange($event)'
  ></diff-tab-chart-component>



  <open-close-tab-chart-component
    [dateRange]="dateRange"
    [data]="data"
    (dataRangeOutput)='setDataRange($event)'
  ></open-close-tab-chart-component>

  <total-tab-chart-component
    [dateRange]="dateRange"
    [data]="data"
    (dataRangeOutput)='setDataRange($event)'
  ></total-tab-chart-component>
</div>
