<form class="p-8" [formGroup]="settingsForm">

  <mat-accordion>
    <mat-expansion-panel hideToggle [expanded]='userPreferences.badgeEnabled' [disabled]='!userPreferences.badgeEnabled'>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Enable badge
        </mat-panel-title>
        <mat-slide-toggle formControlName="badgeEnabled" id="badgeEnabled"></mat-slide-toggle>
      </mat-expansion-panel-header>

      <div class="d-flex p-2 pr-0 col-example">
        <mat-panel-title>
          Enable changing color
        </mat-panel-title>
        <mat-slide-toggle formControlName="changingColorEnabled" id="changingColorEnabled"></mat-slide-toggle>
      </div>

      <div class="d-flex p-2 pr-0 col-example">
        <mat-panel-title>
          Badge shows...
        </mat-panel-title>
        <mat-select class="form-control w-25" id="badgeTextType" required formControlName="badgeTextType" >
          <mat-option *ngFor="let badgeTextType of fileTypes" [value]="badgeTextType">
            {{FileType2LabelMapping[badgeTextType]}}
          </mat-option>
        </mat-select>
      </div>
    </mat-expansion-panel>

<!--  Graph setting  -->
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Graph settings
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="d-flex p-2 pr-0 col-example">
        <mat-panel-title>
          Decimation
        </mat-panel-title>
        <input type="tel" matInput formControlName="decimationNumPoints" id="decimationNumPoints">
      </div>
    </mat-expansion-panel>
  </mat-accordion>
<!--  Graph setting  -->

    <mat-expansion-panel hideToggle [expanded]='userPreferences.deduplicateTabs' [disabled]='!userPreferences.deduplicateTabs' *ngIf='userPreferences.experimentsEnabled'>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Deduplicate tabs
        </mat-panel-title>
        <mat-slide-toggle formControlName="deduplicateTabs" id="deduplicateTabs"></mat-slide-toggle>
      </mat-expansion-panel-header>

      <div class="d-flex p-2 pr-0 col-example">
        <mat-panel-title>
          Deduplicate strategy
        </mat-panel-title>
        <mat-form-field appearance="fill">
          <mat-label>Select an option</mat-label>
          <mat-select formControlName="deduplicateStrategy" id="deduplicateStrategy">
            <mat-option *ngFor="let deduplicateStrategy of deduplicateStrategyMap" [value]="deduplicateStrategy.id">
              {{deduplicateStrategy.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="d-flex p-2 pr-0 col-example">
        <mat-panel-title>
          Ignore hash part
        </mat-panel-title>
        <mat-slide-toggle formControlName="deduplicateIgnoreHashPart" id="deduplicateIgnoreHashPart"></mat-slide-toggle>
      </div>

      <div class="d-flex p-2 pr-0 col-example">
        <mat-panel-title>
          Ignore search path
        </mat-panel-title>
        <mat-slide-toggle formControlName="deduplicateIgnoreSearchPart" id="deduplicateIgnoreSearchPart"></mat-slide-toggle>
      </div>

      <div class="d-flex p-2 pr-0 col-example">
        <mat-panel-title>
          Ignore path part
        </mat-panel-title>
        <mat-slide-toggle formControlName="deduplicateIgnorePathPart" id="deduplicateIgnorePathPart"></mat-slide-toggle>
      </div>

      <div class="d-flex p-2 pr-0 col-example">
        <mat-panel-title>
          Ignore WWW
        </mat-panel-title>
        <mat-slide-toggle formControlName="deduplicateIgnore3w" id="deduplicateIgnore3w"></mat-slide-toggle>
      </div>

      <div class="d-flex p-2 pr-0 col-example">
        <mat-panel-title>
          Ignore case
        </mat-panel-title>
        <mat-slide-toggle formControlName="deduplicateIgnoreCase" id="deduplicateIgnoreCase"></mat-slide-toggle>
      </div>

      <div class="d-flex p-2 pr-0 col-example">
        <mat-panel-title>
          Compare with title
        </mat-panel-title>
        <mat-slide-toggle formControlName="deduplicateCompareWithTitle" id="deduplicateCompareWithTitle"></mat-slide-toggle>
      </div>

      <div class="d-flex p-2 pr-0 col-example">
        <mat-panel-title>
          Deduplicate in all windows
        </mat-panel-title>
        <mat-slide-toggle formControlName="deduplicateSearchInAllWindows" id="deduplicateSearchInAllWindows"></mat-slide-toggle>
      </div>

      <div class="d-flex p-2 pr-0 col-example">
        <mat-panel-title>
          Don't deduplicate URLs containing
        </mat-panel-title>
        <mat-form-field appearance="fill" style="width:40vw">
          <mat-label>Don't deduplicate URLs</mat-label>
          <textarea matInput formControlName="deduplicateDontDeduplicateUrls" id="deduplicateDontDeduplicateUrls"></textarea>
        </mat-form-field>
      </div>

      <div class="d-flex p-2 pr-0 col-example">
        <mat-panel-title>
          Remove part from URL
        </mat-panel-title>
        <mat-form-field appearance="fill">
          <mat-label>Remove URL part</mat-label>
          <textarea matInput formControlName="deduplicateStripUslParts" id="deduplicateStripUslParts"></textarea>
        </mat-form-field>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel hideToggle [expanded]='userPreferences.snoozingEnabled' [disabled]='!userPreferences.snoozingEnabled' *ngIf='userPreferences.experimentsEnabled'>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Snoozed tabs
        </mat-panel-title>
        <mat-slide-toggle formControlName="snoozingEnabled" id="snoozingEnabled"></mat-slide-toggle>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Data
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="d-flex p-2 pr-0 col-example">
        <mat-panel-title>
          Clear stored tab data
        </mat-panel-title>
        <button mat-raised-button (click)="clearTabData()">Clear</button>
      </div>

      <div class="d-flex p-2 pr-0 col-example">
        <mat-panel-title>
          Reset settings
        </mat-panel-title>
        <button mat-raised-button (click)="resetSettings()">Reset</button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Other
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="d-flex p-2 pr-0 col-example">
        <mat-panel-title>
          Reset UUID
        </mat-panel-title>
        <button mat-raised-button (click)="resetUUID()">Reset</button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf='userPreferences.experimentsEnabled'>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Experiments
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="d-flex p-2 pr-0 col-example">
        <mat-panel-title>
          tabsEnabled
        </mat-panel-title>
        <mat-slide-toggle formControlName="tabsEnabled" id="tabsEnabled"></mat-slide-toggle>
      </div>

      <div class="d-flex p-2 pr-0 col-example">
        <mat-panel-title>
          drillDownEnabled
        </mat-panel-title>
        <mat-slide-toggle formControlName="drillDownEnabled" id="drillDownEnabled"></mat-slide-toggle>
      </div>

      <div class="d-flex p-2 pr-0 col-example">
        <mat-panel-title>
          desiredTabs
        </mat-panel-title>
        <mat-slide-toggle formControlName="desiredTabs" id="desiredTabs"></mat-slide-toggle>
      </div>

      <div class="d-flex p-2 pr-0 col-example">
        <mat-panel-title>
          achievementsEnabled
        </mat-panel-title>
        <mat-slide-toggle formControlName="achievementsEnabled" id="achievementsEnabled"></mat-slide-toggle>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf='userPreferences.experimentsEnabled'>
      <mat-expansion-panel-header>
        <mat-panel-title>
          About
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="d-flex p-2 pr-0 col-example">
        <mat-panel-title>Version</mat-panel-title>
        {{applicationVersion}}
      </div>
    </mat-expansion-panel>

  </mat-accordion>
</form>
