{
  "extends": ["plugin:prettier/recommended"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "bracketSameLine": true,
  "useTabs": false,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": false,
  "importOrder": [
    "^zone.js(.*)$",
    "^@core/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@server/(.*)$",
    "^@ui/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
