:host {
  display: block;
  width: 800px;
  height: 600px;
  overflow: hidden;
}

.icon {
  height: 25px;
  margin: 5px;
  width: 25px;
  display: inline-flex;
}

.right {
  display: flex;
}

.grow {
  flex-grow: 1;
}
