/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}

@import '../node_modules/angular-bootstrap-md/assets/scss/bootstrap/bootstrap.scss';
@import '../node_modules/angular-bootstrap-md/assets/scss/mdb.scss';
