// TODO get from constant
$body-bg: #303030;
// TODO it was working without this
$body-color: #fff;

@import '../node_modules/angular-bootstrap-md/assets/scss/bootstrap/bootstrap.scss';
@import '../node_modules/angular-bootstrap-md/assets/scss/mdb.scss';

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}
